<!DOCTYPE html>

<html lang="id">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dasbor</title>
    <link rel="shortcut icon" href="~/rwtheme/images/favicon-wasathia.ico" type="image/x-icon">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/includes/mytemplate/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/includes/mytemplate/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/includes/mytemplate/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/includes/mytemplate/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/includes/mytemplate/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- developer custom(Dzaki) styles -->
    <link href="~/includes/css/custom.css" rel="stylesheet">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/includes/css/magnific-popup.css">
    <!-- owl carousel styles-->
    <link rel="stylesheet" href="~/includes/css/owl.carousel.css">
    <link rel="stylesheet" href="~/includes/css/owl.transitions.css">
    <!-- custom styles -->
    <link href="~/includes/css/custom-green.css" rel="stylesheet">
</head>
<!-- ADD THE CLASS fixed TO GET A FIXED HEADER AND SIDEBAR LAYOUT -->
<!-- the fixed layout is not compatible with sidebar-mini -->
<body class="hold-transition skin-blue fixed sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index","Admin")" class="logo">
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>RW</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <a href="@Url.Action("Index","rumahwasathia")" target="_blank"><i class="fa fa-globe" style="color:white;"></i><span class="goto-web-button">Lihat Web</span></a>
                @await Html.PartialAsync("_LoginPartial")
                <!-- Sidebar toggle button-->
            </nav>
        </header>

        <!-- =============================================== -s->

        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/includes/mytemplate/dist/img/logogram.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Rumah Wasathia</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="~/Admin/Index">
                            <i class="fa fa-home"></i> <span>Beranda</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("List","Artikel")">
                            <i class="fa fa-file-text"></i> <span>Artikel</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("List","Buku")">
                            <i class="fa fa-book"></i> <span>Buku</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("List","Galeri")">
                            <i class="fa  fa-photo"></i> <span>Galeri</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                    <li class="treeview menu-open">
                        <a href="#">
                            <i class="fa fa-navicon"></i> <span>Kajian</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="display:block;">
                            <li><a href="@Url.Action("List","KajianAudio")"><i class="fa fa-volume-up"></i> Audio</a></li>
                            <li><a href="@Url.Action("List","KajianVideo")"><i class="fa fa-video-camera"></i> Video</a></li>
                        </ul>
                    </li>
                    <li class="treeview menu-open">
                        <a href="#">
                            <i class="fa  fa-navicon"></i> <span>Konsultasi</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="display:block;"">
                            <li><a href="@Url.Action("List","KonsultasiEPaper")"><i class="fa fa-volume-up"></i> Konsultasi E Paper</a></li>
                            <li><a href="@Url.Action("List","KonsultasiInfografis")"><i class="fa fa-video-camera"></i> Konsultasi Infografis</a></li>
                            <li><a href="@Url.Action("List","KonsultasiRepublika")"><i class="fa fa-volume-up"></i> Konsultasi Republika Online</a></li>
                            <li><a href="@Url.Action("List","KonsultasiRumahWasathia")"><i class="fa fa-video-camera"></i> Konsultasi Rumah Wasathia</a></li>
                        </ul>
                    </li>
                    <li class="treeview menu-open">
                        <a href="#">
                            <i class="fa  fa-navicon"></i> <span>Kategori</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="display:block;">
                            <li><a href="@Url.Action("List","KategoriArtikel")"><i class="fa fa-volume-up"></i> Kategori Artikel</a></li>
                            <li><a href="@Url.Action("List","KategoriBuku")"><i class="fa fa-video-camera"></i> Kategori Buku</a></li>
                            <li><a href="@Url.Action("List","KategoriGaleri")"><i class="fa fa-volume-up"></i> Kategori Galeri</a></li>
                            <li><a href="@Url.Action("List","KategoriKajian")"><i class="fa fa-video-camera"></i> Kategori Kajian</a></li>
                            <li><a href="@Url.Action("List","KategoriKonsultasi")"><i class="fa fa-video-camera"></i> Kategori Konsultasi</a></li>

                        </ul>
                    </li>
                    <!--
                    <li>
                        <a href="~/Admin/Konsultasi">
                            <i class="fa fa-question"></i> <span>Konsultasi</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                    -->
                    <!--
                    <li>
                        <a href="~/Admin/Pdf">
                            <i class="fa fa-file-pdf-o"></i> <span>PDF</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/Tag">
                            <i class="fa  fa-tags"></i> <span>Tags</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                    -->
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <!-- =========================tengh====================== -->
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright &copy;2018 <a href="https://studio.citron.id">Citron Studio</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/includes/mytemplate/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/includes/mytemplate/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/includes/mytemplate/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/includes/mytemplate/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/includes/mytemplate/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/includes/mytemplate/dist/js/demo.js"></script>
    <!-- CK Editor -->
    <script src="~/includes/mytemplate/bower_components/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/includes/mytemplate/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!--jQuery easing-->
    <script src="~/includes/js/jquery.easing.1.3.js"></script>
    <!--style switcher-->
    <script src="~/includes/js/style-switcher.js"></script>
    <!--wow animation-->
    <script src="~/includes/js/wow.min.js"></script>
    <!-- time and date -->
    <script src="~/includes/js/moment.min.js"></script>
    <!--news ticker-->
    <script src="~/includes/js/jquery.ticker.js"></script>
    <!-- owl carousel -->
    <script src="~/includes/js/owl.carousel.js"></script>
    <!-- magnific popup -->
    <script src="~/includes/js/jquery.magnific-popup.js"></script>
    <!-- calendar-->
    <script src="~/includes/js/jquery.pickmeup.js"></script>
    <!-- go to top -->
    <script src="~/includes/js/jquery.scrollUp.js"></script>
    <!-- scroll bar -->
    <script src="~/includes/js/jquery.nicescroll.js"></script>
    <script src="~/includes/js/jquery.nicescroll.plus.js"></script>
    <!--masonry-->
    <script src="~/includes/js/masonry.pkgd.js"></script>
    <!--media queries to js-->
    <script src="~/includes/js/enquire.js"></script>
    <!--custom functions-->
    <script src="~/includes/js/custom-fun.js"></script>
    <!--custom Dzaki-->
    <script src="~/includes/js/custom.js"></script>
    <script>
        $(function () {
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('editor1')
            CKEDITOR.replace('editor2')
            CKEDITOR.replace('editor3')
            //bootstrap WYSIHTML5 - text editor
            $('.textarea').wysihtml5()
        })
    </script>
</body>
</html>