
@{
    ViewData["Title"] = "_FooterLayout";
}

<footer>
    <div class="top-sec">
        <div class="container">
            <div class="row match-height-container lineBottom">
                <div class="col-lg-4 col-sm-16 subscribe-info wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                    <div class="row">
                        <div class="col-sm-16">
                            <div id="responsive-image">
                                <img src="~/uploads/image/general/logo-02.png" alt="placeholder 960" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-sm-16 text-left add-information">
                            <span>
                                <i class="fas fa-map"></i>Jl. Masjid Baiturrahman, 001/008, Mekarsari, Cimanggis, Mekarsari, Cimanggis, Kota Depok, Jawa Barat 16542
                            </span>
                        </div>
                        <div class="col-sm-16 text-left add-information">
                            <span>
                                <i class="fas fa-phone"></i>+62 878-852-837-47
                            </span>
                        </div>
                        <div class="col-sm-16 text-left add-information">
                            <span>
                                <i class="fas fa-envelope-open"></i>rumahwasathia@yahoo.com
                            </span>
                        </div>
                    </div>
                </div>
                <div class="hidden-md col-lg-1"></div>
                <div class="col-lg-3 col-sm-10 wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                    <div class="f-title line-footer">Menu</div>
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <ul class="footer-link">
                                <li><a href="@Url.Action("Index","rumahwasathia")">Beranda</a></li>
                                <li><a href="@Url.Action("Profil","rumahwasathia")">Profil</a></li>
                                <li><a href="@Url.Action("Biografi","rumahwasathia")">Biografi</a></li>
                                <li><a href="@Url.Action("Index","rumahwasathia")">Tanya Jawab</a></li>
                                <li><a href="@Url.Action("Artikel","rumahwasathia")">Artikel</a></li>
                            </ul>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <ul class="footer-link">
                                <li><a href="@Url.Action("Buku","rumahwasathia")">Buku</a></li>
                                <li><a href="@Url.Action("video","rumahwasathia")">Kajian</a></li>
                                <li><a href="@Url.Action("galeri","rumahwasathia")">Galeri</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                    <div class="f-title line-footer">Situs Terpercaya</div>
                    <ul class="footer-link">
                        <li><a href="http://republika.co.id/">Republika.co.id</a></li>
                        <li><a href="http://sebi.ac.id/">Sebi.ac.id</a></li>
                        <li><a href="http://yakesma.org/">Yakesma.org</a></li>
                        <li><a href="http://izi.or.id/">Izi.or.id</a></li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-16 wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                    <div class="f-title line-footer">Biografi</div>
                    <div id="bio-footer">
                        <div class="module4">
                            <p>Rumahwasathia hadir sebagai solusi dari banyaknya pertanyaan masyarakat seputar persoalan kehidupan sehari-hari menurut aspek Syari’ah Islam, yang dimana pada realita sekarang ini, sangat minim referensi Islam yang genuine dan bernash. Selain itu, rumahwasathia meyakini perkembangan pendidikan yang semakin berkualitas dalam mencetak Sumber Daya Manusia ahli Fiqih, yang nantinya akan fokus dalam mengelola tugas ini.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-sec">
        <div class="container">
            <div class="row">
                <div class="col-sm-16">
                    <div class="row">
                        <div class="col-sm-16 col-xs-16 copyrights text-center wow fadeInDown animated" data-wow-delay="0.5s" data-wow-offset="10">&copy; 2018 CITRON STUDIO - ALL RIGHTS RESERVED</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->
