@model MvcRWV2.Models.KonsultasiRumahWasathia

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>KonsultasiRumahWasathia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Judul)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Judul)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tanggal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tanggal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pertanyaan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pertanyaan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jawaban)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jawaban)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Penulis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Penulis)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
