@model MvcRWV2.Models.KonsultasiRumahWasathiaViewModels.IndexKonsultasiRWViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start galeri.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Konsultasi</a></li>
                <li class="active">Rumahwasathia</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- data start -->
        <section>
            <div class="container ">
                <div class="row ">
                    <!-- left sec start -->
                    <div class="col-md-11 col-sm-11">
                        <div class="row">
                            <div class="col-sm-16 text-center">
                                <p>Urutan Sesuai :</p>
                                <p>
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Judul</a>
                                </p>

                                <form asp-action="Index" method="get">
                                    <div class="form-actions no-color">
                                        <p>
                                            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                                            <input type="submit" value="Cari" class="btn btn-default" /> |
                                            <a asp-action="Index">Back to Full List</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                            @foreach (KonsultasiRumahWasathia item in Model.KonsultasiRumahWasathiaModel)
                            {
                                <div class="sec-topic col-sm-16 col-md-8">
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        <img alt="" src="~/rwtheme/images/sec/sec-1.jpg" class="img-thumbnail">
                                        <div class="sec-info">
                                            <h3>@Html.DisplayFor(modelItem => item.DisplayTextJudul)</h3>
                                            <div class="text-danger sub-info-bordered">
                                                <div class="time"><span class="ion-android-data icon"></span>@Html.DisplayFor(modelItem => item.Tanggal)</div>
                                                <!--<div class="comments"><span class="ion-chatbubbles icon"></span>204</div>-->
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-sm-16 text-center">
                                @{
                                    var prevDisabled = !Model.KonsultasiRumahWasathiaModel.HasPreviousPage ? "disabled" : "";
                                    var nextDisabled = !Model.KonsultasiRumahWasathiaModel.HasNextPage ? "disabled" : "";
                                }
                                <a asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-page="@(Model.KonsultasiRumahWasathiaModel.PageIndex - 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn btn-default @prevDisabled">
                                    Previous
                                </a>
                                <a asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-page="@(Model.KonsultasiRumahWasathiaModel.PageIndex + 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn btn-default @nextDisabled">
                                    Next
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- left sec end -->
                    <!-- right sec start -->
                    <div class="col-sm-5 hidden-ms right-sec">
                        <div class="bordered">
                            <div class="row ">
                                <!-- activities start -->
                                <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="130">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-justified " role="tablist">
                                        <li class="active"><a href="#infografis" role="tab" data-toggle="tab">Buku</a></li>
                                        <li><a href="#artikel" role="tab" data-toggle="tab">Artikel</a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="infografis">
                                            <ul class="list-unstyled kajian">
                                                @foreach (Buku item in Model.BukuModel)
                                                {
                                                <li>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="library-wrapper">
                                                                <img class="img-thumbnail" src="~/rwtheme/images/book/@Html.DisplayFor(modelItem => item.Path.Path)" alt="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 book-desc">
                                                            <h3>@Html.DisplayFor(modelItem => item.DisplayTextJudul)</h3>
                                                            <div class="download">
                                                                <a href="@Url.Action("Details","Buku",new {id=item.Id })">
                                                                    <i class="fas fa-tasks"></i>Lihat Detail
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                }
                                            </ul>
                                            <a href="~/Buku/Index" class="btn btn-info" role="button">Lihat Semua</a>
                                        </div>
                                        <div class="tab-pane" id="artikel">
                                            <ul class="list-unstyled kajian">
                                                @foreach (Artikel item in Model.ArtikelModel)
                                                {
                                                    <li>
                                                        <a href="~/pdf/artikel/@{@item.Judul}.pdf" target="_blank">
                                                            <div class="row">
                                                                <div class="col-sm-5"><img class="img-thumbnail pull-left" src="~/rwtheme/images/general/pdf.png" alt="" /> </div>
                                                                <div class="col-sm-11">
                                                                    <h4>@Html.DisplayFor(modelItem => item.DisplayTextJudul)</h4>
                                                                    <div class="text-danger sub-info">
                                                                        <div class="time"><span class="ion-android-data icon"></span>@Html.DisplayFor(modelItem => item.Tanggal)</div>
                                                                        <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                            <a href="~/Artikel/Index" class="btn btn-info" role="button">Lihat Semua</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- activities end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- data end -->
    </div>
</div>
<!-- data end -->