@model MvcRWV2.Models.KonsultasiRumahWasathiaViewModels.IndexKonsultasiRWViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start galeri.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Konsultasi</a></li>
                <li class="active">Rumahwasathia</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- data start -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-11 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side">Konsultasi Rumah Wasathia</div>
                    <div class="row index-content-header">
                        <div class="col-sm-5">
                            <p>Urutkan bedasarkan :</p>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" role="button" class="btn btn-filter">Judul <i class="fa fa-sort"></i></a>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" role="button" class="btn btn-filter">Terbaru</a>
                        </div>
                        <div class="col-sm-11">
                            <form asp-action="Index" method="get">
                                <div class="form-actions no-color pull-right">
                                    <input type="submit" value="Cari" class="btn btn-default" /> |
                                    <a asp-action="Index">Hapus Pencarian</a>
                                    <input class="form-control" type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-16">
                            @foreach (KonsultasiRumahWasathia item in Model.KonsultasiRumahWasathiaModel)
                            {
                                <div class="sec-topic col-sm-16 col-md-8">
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        <img width="359" height="265" alt="" src="@item.FImage" class="img-thumbnail">
                                        <div class="sec-info">
                                            <h3>@item.DisplayTextJudul</h3>
                                            <div class="text-danger sub-info-bordered">
                                                <div class="time"><span class="ion-android-data icon"></span>pada @item.DisplayTanggalFormat1</div>
                                                <!--<div class="comments"><span class="ion-chatbubbles icon"></span>204</div>-->
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- right sec start -->
            @await Html.PartialAsync("_SideBarLayout")
        </div>
        <!-- data end -->
    </div>
</div>
<!-- data end -->