    @model PaginatedList<MvcRWV2.Models.KonsultasiRumahWasathia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- MENU #############################-->
<!-- /MENU -->
<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
        <div class="row">
            <div class="col-md-5">
                <a href="@Url.Action("List","KonsultasiRumahWasathia")" class="inline title-admin-page">Konsultasi Rumah Wasathia</a>
                <div type="button" class="btn btn-primary">
                    <a asp-action="Create">Buat Baru</a>
                </div>
            </div>
            <div class="col-md-7 text-right">
                <form asp-action="List" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                            <input type="submit" value="Cari" class="btn btn-default" /> |
                            <a asp-action="List">Hapus Pencarian</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <hr>
<div class="row">
            <div class="col-md-4 text-left">
                <a asp-action="List">Semua (@Model.TotalItem)</a> |
                <a asp-action="List" asp-route-status="2">Trash (@Model.TotalTrash)</a>
            </div>
            <div class="col-md-8 text-right total-item">
                <span>
                    @Model.TotalItem Post              
                </span>
            </div>
        </div>
<hr>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="row">
                         <div class="col-md-12 text-center">
                            @{
                                var prevDisabled1 = !Model.HasPreviousPage ? "disabled" : "";
                                var nextDisabled1 = !Model.HasNextPage ? "disabled" : "";
                            }
                            <a asp-action="List"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-page="@(Model.PageIndex - 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @prevDisabled1">
                                Previous
                            </a>
                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                <a asp-route-page="@i">
                                @if (Model.PageIndex == @i)
                            {
                                <span class="page-number btn btn-default"><strong>@i</strong></span>
                            }
                            else
                            {
                                <span class="page-number page-number-unselected">@i</span>
                            }
                            </a>
                            }
                            <a asp-action="List"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-page="@(Model.PageIndex + 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @nextDisabled1">
                                Next
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="no-padding">
                                            <a asp-action="List" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                                <div class="sort-button">
                                                    Judul <i class="fa fa-sort"></i>
                                                </div>
                                            </a>
                                        </th>
                                        <th>
                                            Penulis
                                        </th>
                                        <th>
                                            Kategori
                                        </th>
                                        <th>
                                            Tag
                                        </th>
                                        <th class="no-padding">
                                            <a asp-action="List" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                                <div class="sort-button">
                                                    Tanggal <i class="fa fa-sort"></i>
                                                </div>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                     {
                                        <tr>
                                            <td class="hover-hide">
                                                @if (item.Judul == null)
                                                 {
                                                    <span>—</span>
                                                 }
                                                else
                                                {
                                                    <a asp-action="Edit" asp-route-id="@item.Id">
                                                        @item.DisplayTextJudul
                                                    </a>
                                                    <div>
                                                        <a href="@Url.Action("Details","KonsultasiRumahWasathia",new { Id = item.Id})" target="_blank" class="hover-show">Lihat<span> | </span></a>
                                                        @if(@item.Status == 1)
                                                        {
                                                            <a asp-action="Edit" asp-route-id="@item.Id" class="hover-show">Edit<span style="color:black"> | </span></a>
                                                            <a asp-action="Trash" asp-route-id="@item.Id" class="hover-show trash">Trash</a>
                                                        }
                                                        else if (@item.Status == 2)
                                                        {
                                                            <a asp-action="Restore" asp-route-id="@item.Id" class="hover-show">Restore | </a>
                                                            <a asp-action="Delete" asp-route-id="@item.Id" class="hover-show trash">Delete</a>     
                                                        }
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                @if (item.Penulis == null)
                                                 {
                                                    <span>—</span>
                                                 }
                                                else
                                                {
                                                    @item.Penulis

                                                }
                                            </td>
                                            <td>
                                                @if (item.Kategori == null)
                                                 {
                                                    <span>—</span>
                                                 }
                                                else
                                                {
                                                    @item.Kategori
                                                }
                                            </td>
                                            <td>
                                                @if (item.Tag == null)
                                                {
                                                    <span>—</span>
                                            }
                                            else
                                            {
                                                @item.Tag
                                            }
                                            </td>
                                            <td>
                                                @if (item.Tanggal == null)
                                                {
                                                    <span>—</span>
                                                }
                                                else
                                                {
                                                    @if(item.Status == 1)
                                                    {
                                                        <p>di publish</p>  
                                                    }
                                                    else
                                                    {
                                                        <p>Terakhir diubah</p>  
                                                    }
                                                    @item.Tanggal
                                                }
                                            </td>
                                        </tr>
                                     }
                                </tbody>
                                <thead>
                                    <tr>
                                        <th class="no-padding">
                                            <a asp-action="List" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                                <div class="sort-button">
                                                    Judul <i class="fa fa-sort"></i>
                                                </div>
                                            </a>
                                        </th>
                                        <th>
                                            Penulis
                                        </th>
                                        <th>
                                            Kategori
                                        </th>
                                        <th>
                                            Tag
                                        </th>
                                        <th class="no-padding">
                                            <a asp-action="List" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                                <div class="sort-button">
                                                    Tanggal <i class="fa fa-sort"></i>
                                                </div>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            @{
                                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                            }
                            <a asp-action="List"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-page="@(Model.PageIndex - 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @prevDisabled">
                                Previous
                            </a>
                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                <a asp-route-page="@i">
                                @if (Model.PageIndex == @i)
                            {
                                <span class="page-number btn btn-default"><strong>@i</strong></span>
                            }
                            else
                            {
                                <span class="page-number page-number-unselected">@i</span>
                            }
                            </a>
                            }
                            <a asp-action="List"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-page="@(Model.PageIndex + 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @nextDisabled">
                                Next
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col-->
        </div>
        <!-- ./row -->
