@model PaginatedList<MvcRW.Models.Artikel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li class="active">Artikel</li>
            </ol>
        </div>
        <!--tes-->
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side">Artikel</div>
                    <div class="row text-center">
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Akad Ijarah Mausufah fi Dzimmah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Akad Ijarah Mausufah fi Dzimmah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Akad Musyarakah Mutanaqishah dalam LKS.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Akad Musyarakah Mutanaqishah dalam LKS</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Akad Produk Giro dan Tabungan Wadiah di Perbankan Syariah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Akad Produk Giro dan Tabungan Wadiah di Perbankan Syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Al-Hajah allati Tanzilu manzilata adh-dharurah Dan Penerapannya Dalam Ekonomi Syariah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Al-Hajah allati Tanzilu manzilata adh-dharurah Dan Penerapannya Dalam Ekonomi Syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Bai Inah Tawarruq Fiqhi dan Tawarruq Munazham.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Bai Inah Tawarruq Fiqhi dan Tawarruq Munazham</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Bisnis Multi Level Marketing menurut Regulasi dan Fatwa DSN.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Bisnis Multi Level Marketing menurut Regulasi dan Fatwa DSN</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Dana CSR dan Program Pemberdayaan Masyarakat.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Dana CSR dan Program Pemberdayaan Masyarakat</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Gadai Emas Syariah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Gadai Emas Syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Hadiah Dalam Pengumpulan, Pendayagunaan Dan Pendistribusian Zakat.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Hadiah Dalam Pengumpulan, Pendayagunaan Dan Pendistribusian Zakat</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Hadiah Produk Giro dan Tabungan di Perbankan Syariah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Hadiah Produk Giro dan Tabungan di Perbankan Syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/INSTRUMEN HEDGING  DAN SOLUSINYA MENURUT SYARIAH.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Instrument hedging dan solusinnya menurut syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Instrumen Repo Syariah Menurut Fikih Islam.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Instrumen Repo Syariah Menurut Fikih Islam</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/JIKA ASSET TERDIRI DARI ASSET HALAL DAN ASSET  NON HALAL.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Jika assest terdiri dari asset halal dan asset non halal</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/JKSN dan BPJS Kesehatan Syariah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>JKSN dan BPJS Kesehatan Syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Kepemilikan Setoran Jamaah Haji Menurut Syariah Islam.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Kepemilikan Setoran Jamaah Haji Menurut Syariah Islam</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/KPR Indent Menurut Fikih Islam.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>KPR Indent Menurut Fikih Islam</h4>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-16 text-center">
                            <p>
                                <a asp-action="Create">Create New</a>
                            </p>

                            <form asp-action="Index" method="get">
                                <div class="form-actions no-color">
                                    <p>
                                        Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                                        <input type="submit" value="Search" class="btn btn-default" /> |
                                        <a asp-action="Index">Back to Full List</a>
                                    </p>
                                </div>
                            </form>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Judul</a>
                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Tanggal</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Judul)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Tanggal)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-16 text-center">
                            <!-----<ul class="pagination">
                                <li><a href="#" class="hidden-xs">Terdahulu</a></li>
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                                <li><a href="#" class="hidden-xs">Terbaru</a></li>
                            </ul>-->
                            @{
                                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                            }
                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-page="@(Model.PageIndex - 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @prevDisabled">
                                Previous
                            </a>
                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-page="@(Model.PageIndex + 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @nextDisabled">
                                Next
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-16 col-md-6 right-side-style wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                <div class="row">
                    <div class="col-sm-16">
                        <div class="main-title-outer">
                            <div class="main-title right-side">Perpustakaan</div>
                            <ul class="list-unstyled kitab">
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover1.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Riba, Gharar & Kaidah Ekonomi Syariah</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku1","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4 ">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover2.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Maqashid Bisnis & Keuangan Islam</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku2","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover3.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Ushul Fiqh Muamalah</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku3","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover4.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Fikih Muamalah</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku3","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
    </div>
</div>
<!-- data end -->