
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}


<!--data start Index.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- Sesi Pertama (Main Slider) -->
        <div class="col-sm-16 banner-outer">
            <div class="row">
                <div class="col-sm-16 col-md-10 col-lg-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                    <!-- carousel start -->
                    <div id="sync1" class="owl-carousel">
                        <div class="box item">
                            <a href="@Url.Action("konsultasiRepublika","rumahwasathia")">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/1. Perjalanan Dinas yang dipersingkat.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-clipboard"></span>Kajian</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action("konsultasiRepublika","rumahwasathia")">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/2. Bisnis Reseller.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-earth"></span>Berita</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action("konsultasiRepublika","rumahwasathia")">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/3. Dropship.jpeg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-paper-airplane"></span>Artikel</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action("konsultasiRepublika","rumahwasathia")">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/5. Bitcoin.jpeg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-earth"></span>Berita</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action("konsultasiRepublika","rumahwasathia")">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/6. Top Up dan Transfer Saldo Jasa Transportasi Online.jpeg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-clipboard"></span>Kajian</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action("konsultasiRepublika","rumahwasathia")">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/7. Belanja dengan kartu diskon.jpeg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-paper-airplane"></span>Artikel</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action("konsultasiRepublika","rumahwasathia")">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/8. Bekerja di usaha yg tidak halal.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-earth"></span>Berita</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action("konsultasiRepublika","rumahwasathia")">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/9. jual beli emas.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-clipboard"></span>Kajian</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div id="sync2" class="owl-carousel">
                            <div class="item"><img class="img-responsive" src="~/rwtheme/images/e-paper/1. Perjalanan Dinas yang dipersingkat.jpg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive" src="~/rwtheme/images/e-paper/2. Bisnis Reseller.jpg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive" src="~/rwtheme/images/e-paper/3. Dropship.jpeg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive" src="~/rwtheme/images/e-paper/5. Bitcoin.jpeg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive" src="~/rwtheme/images/e-paper/6. Top Up dan Transfer Saldo Jasa Transportasi Online.jpeg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive" src="~/rwtheme/images/e-paper/7. Belanja dengan kartu diskon.jpeg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive" src="~/rwtheme/images/e-paper/8. Bekerja di usaha yg tidak halal.jpg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive" src="~/rwtheme/images/e-paper/9. jual beli emas.jpg" width="1600" height="972" alt="" /></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-md-6 col-lg-6 wrap-content wow fadeInRight animated" data-wow-delay="1s" data-wow-offset="50">
                    <div class="absolute-text-item">
                        <div class="relative-block">
                            <div id="vid-first" class="tab-pane embed-responsive embed-responsive-16by9 active">
                                <iframe width="514" height="289" src="https://www.youtube.com/embed/qggLZOQS87U" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <h2>Kupas Tuntas E-Money Menurut Syariah</h2>
                        <div class="module1">
                            <p>
                                Kupas Tuntas E-Money Menurut Syariah
                            </p>
                            <p>
                                Apakah E-Money itu boleh? apakah itu masuk ke konvensional yang mengandung riba? Dan bagaimanakah hukum-hukumnya metode pembayaran modern saat ini? Yuk simak video lengkap ini!
                            </p>
                            <p>
                                Ikuti Kajian Muamalah Ekonomi Syariah OLEH USTADZ DR. ONI SAHRONI, M.A, Pakar Ekonomi Syariah, Ketua Dewan Pengawas Syariah IZI dan BPH Dewan Syariah Nasional MUI
                            </p>
                            Pelajari Lebih Banyak Tentang Ekonomi Syariah Hanya di Mualamah TV. Klik
                            <p>
                                Bayar Zakat secara Mudah Hanya di ZakatPedia.
                                Klik https://zakatpedia.com

                                Terima Kasih
                                Semoga Berkah
                                Like & Subscribe ya :)

                                Presented by:
                                Muamalah TV
                                oleh Inisiatif Zakat Indonesia (IZI)
                                Jl. Raya Condet No 54 D-E Batu Ampar Jakarta Timur
                                Website: www.izi.or.id | FB: Inisiatif Zakat | IG: @@inisiatifzakat
                            </p>
                        </div>
                        <a href="@Url.Action("ChannelMuamalah","rumahwasathia")" class="read-more-yellow">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sesi Pertama (Main Slider) Selesai -->
        <!-- second Section Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side">Galeri</div>
                    <!-- Masonry Begin -->
                    <div class="masonry-wrapper">
                        <div class="masonry-index text-center">
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (1).jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/a/a (1).jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Kajian Bandung</div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (3).jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/a/a (3).jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Kajian Bandung</div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (4).jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/a/a (4).jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Kajian Bandung</div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (5).jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/a/a (5).jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Kajian Bandung</div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (6).jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/a/a (6).jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Kajian Bandung</div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/a/a (7).jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/a/a (7).jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">Kajian Bandung</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Masonry End -->
                </div>
            </div>
            <div class="col-sm-16 col-md-6 right-side-style wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                <div class="row">
                    <div class="col-sm-16">
                        <div class="main-title-outer">
                            <div class="main-title right-side">Perpustakaan</div>
                            <ul class="list-unstyled kitab">
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover1.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Riba, Gharar & Kaidah Ekonomi Syariah</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku1","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4 ">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover2.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Maqashid Bisnis & Keuangan Islam</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku2","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover3.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Ushul Fiqh Muamalah</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku3","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover4.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Fikih Muamalah</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku3","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
        <!--Third Section Begin-->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-md-10 col-sm-16 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side">Kumpulan Artikel</div>
                    <div class="row text-center">
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Belanja dengan Kartu Diskon.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Belanja dengan Kartu Diskon</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Bitcoin Menurut Fikih.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Bitcoin Menurut Fikih</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Denda Keterlambatan pada bank syariah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Denda Keterlambatan pada bank syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Fikih Bekerja di Lembaga konvensional.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Fikih Bekerja di Lembaga konvensional</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Fikih Biaya Perjalanan Dinas yang Dipersingkat.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Fikih Biaya Perjalanan Dinas yang Dipersingkat</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Fikih Bisnis Dropship.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Fikih Bisnis Dropship</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Fikih Bisnis Reseller.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Fikih Bisnis Reseller</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Fikih Uang Muka.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Fikih Uang Muka</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Jual Beli Emas tidak Tunai (Mengangsur).pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Jual Beli Emas tidak Tunai (Mengangsur)</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Jual Beli Mata Uang.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Jual Beli Mata Uang</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Jual Beli melalui marketplace.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Jual Beli melalui marketplace</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Jual Beli Murabahah di Bank Syariah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Jual Beli Murabahah di Bank Syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Maksimal Keuntungan.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Maksimal Keuntungan</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Pesan Makanana Via Ojek Daring.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Pesan Makanana Via Ojek Daring</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Top Up _ Transfer Saldo Jasa Transportasi Online.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Top Up Transfer Saldo Jasa Transportasi Online</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Wakaf Produktif.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Wakaf Produktif</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-sm-8">
                            <a href="~/rwtheme/pdf/Zakat Profesi (Hukum, Tarif dan Nisab).pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Zakat Profesi (Hukum, Tarif dan Nisab)</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-16 right-side-style hidden-xs wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                <div class="main-title-outer pull-left">
                    <div class="main-title right-side">Kajian</div>
                    <ul class="list-unstyled kajian">
                        <li>
                            <a href="#">
                                <div class="row RekamanKajian">
                                    <div class="col-sm-16 pathRekaman">
                                        <iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/357475985&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="row RekamanKajian">
                                    <div class="col-sm-16 pathRekaman">
                                        <iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/224844275&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="row RekamanKajian">
                                    <div class="col-sm-16 pathRekaman">
                                        <iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/212773651&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="row RekamanKajian">
                                    <div class="col-sm-16 pathRekaman">
                                        <iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/413160264&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="row RekamanKajian">
                                    <div class="col-sm-16 pathRekaman">
                                        <iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/292675007&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Third section End-->
    </div>
</div>
<!-- data end -->