@{ ViewData["Title"] = "Index"; Layout = "~/Views/Shared/_RWLayout.cshtml"; }


<!--data start Index.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- Sesi Pertama (Main Slider) -->
        <div class="col-sm-16 banner-outer">
            <div class="row">
                <div class="col-sm-16 col-md-10 col-lg-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                    <!-- carousel start -->
                    <div id="sync1" class="owl-carousel">
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Perjalanan Dinas yang dipersingkat
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/1. Perjalanan Dinas yang dipersingkat.jpg" width="1600" height="972"
                                     alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Bisnis Reseller
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/2. Bisnis Reseller.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Dropship
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/3. Dropship.jpeg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Bitcoin
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/5. Bitcoin.jpeg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Top Up dan Transfer Saldo Jasa Transportasi Online
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/6. Top Up dan Transfer Saldo Jasa Transportasi Online.jpeg" width="1600"
                                     height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Belanja dengan kartu diskon
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/7. Belanja dengan kartu diskon.jpeg" width="1600" height="972"
                                     alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Bekerja di usaha yg tidak halal
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/8. Bekerja di usaha yg tidak halal.jpg" width="1600" height="972"
                                     alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Jual beli emas
                                </div>
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/9. jual beli emas.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div id="sync2" class="owl-carousel">
                            <div class="item">
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/1. Perjalanan Dinas yang dipersingkat.jpg"
                                     width="1600" height="972" alt="" />
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/2. Bisnis Reseller.jpg" width="1600"
                                     height="972" alt="" />
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/3. Dropship.jpeg" width="1600" height="972"
                                     alt="" />
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/5. Bitcoin.jpeg" width="1600" height="972"
                                     alt="" />
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/6. Top Up dan Transfer Saldo Jasa Transportasi Online.jpeg"
                                     width="1600" height="972" alt="" />
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/7. Belanja dengan kartu diskon.jpeg"
                                     width="1600" height="972" alt="" />
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/8. Bekerja di usaha yg tidak halal.jpg"
                                     width="1600" height="972" alt="" />
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="~/rwtheme/images/e-paper/9. jual beli emas.jpg" width="1600"
                                     height="972" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-md-6 col-lg-6 wrap-content wow fadeInRight animated" data-wow-delay="1s" data-wow-offset="50">
                    <div class="absolute-text-item">
                        <div class="relative-block">
                            <div id="vid-first" class="tab-pane embed-responsive embed-responsive-16by9 active">
                                <iframe width="514" height="289" src="https://www.youtube.com/embed/qggLZOQS87U" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <h2>Kupas Tuntas E-Money Menurut Syariah</h2>
                        <div class="module1">
                            <p>
                                Kupas Tuntas E-Money Menurut Syariah
                            </p>
                            <p>
                                Apakah E-Money itu boleh? apakah itu masuk ke konvensional yang mengandung riba? Dan bagaimanakah hukum-hukumnya metode pembayaran
                                modern saat ini? Yuk simak video lengkap ini!
                            </p>
                            <p>
                                Ikuti Kajian Muamalah Ekonomi Syariah OLEH USTADZ DR. ONI SAHRONI, M.A, Pakar Ekonomi Syariah, Ketua Dewan Pengawas Syariah
                                IZI dan BPH Dewan Syariah Nasional MUI
                            </p>
                            Pelajari Lebih Banyak Tentang Ekonomi Syariah Hanya di Mualamah TV. Klik
                            <p>
                                Bayar Zakat secara Mudah Hanya di ZakatPedia. Klik https://zakatpedia.com Terima Kasih Semoga Berkah Like & Subscribe ya
                                :) Presented by: Muamalah TV oleh Inisiatif Zakat Indonesia (IZI) Jl. Raya Condet No 54 D-E
                                Batu Ampar Jakarta Timur Website: www.izi.or.id | FB: Inisiatif Zakat | IG: @@inisiatifzakat
                            </p>
                        </div>
                        <a href="@Url.Action(" ChannelMuamalah ","rumahwasathia ")" class="read-more-yellow">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sesi Pertama (Main Slider) Selesai -->
        <!-- second Section Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side">Galeri</div>
                    <!-- Masonry Begin -->
                    <div class="masonry-wrapper">
                        <div class="masonry-index text-center">
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001641.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001641.jpg.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001643.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001643.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001645.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001645.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001648.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001648.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001650.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001650.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001651.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001651.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001653.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001653.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001657.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001657.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001658.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001658.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001659.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001659.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001661.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001661.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001662.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001662.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001663.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001663.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001667.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001667.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001668.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001668.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001669.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001669.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001690.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001690.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001691.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/2018-01-18-PHOTO-00001691.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <span>18 Januari 2018</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/SOC ISRA 0211 2016 Kuala Lumpur.jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/SOC ISRA 0211 2016 Kuala Lumpur.jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>SOC ISRA di Kuala Lumpur, Malaysia.</span>
                                        <span>2 Oktober 2016</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/SOC ISRA 02112016 Kuala Lumpur, Malaysia..jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/SOC ISRA 02112016 Kuala Lumpur, Malaysia..jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>SOC ISRA di Kuala Lumpur, Malaysia.</span>
                                        <span>2 Oktober 2016</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/Meeting SOC 5-6 april 2017 di Kuala Lumpur, Malaysia..jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/Meeting SOC 5-6 april 2017 di Kuala Lumpur, Malaysia..jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>SOC ISRA di Kuala Lumpur, Malaysia.</span>
                                        <span>5-6 April 2017</span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/rwtheme/images/galeri/SOC ISRA 5-6 april 2017 di Kuala Lumpur, Malaysia..jpg">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/rwtheme/images/galeri/SOC ISRA 5-6 april 2017 di Kuala Lumpur, Malaysia..jpg" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>SOC ISRA di Kuala Lumpur, Malaysia.</span>
                                        <span>5-6 April 2017</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Masonry End -->
                </div>
            </div>
            <div class="col-sm-16 col-md-6 right-side-style wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                <div class="row">
                    <div class="col-sm-16">
                        <div class="main-title-outer">
                            <div class="main-title right-side">Perpustakaan</div>
                            <ul class="list-unstyled kitab">
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover1.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Riba, Gharar & Kaidah Ekonomi Syariah</h3>
                                            <div class="download">
                                                <a href="@Url.Action(" SubBuku1 ","rumahwasathia ")">
                                                    <i class="fas fa-tasks"></i>Lihat Detail
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4 ">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover2.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Maqashid Bisnis & Keuangan Islam</h3>
                                            <div class="download">
                                                <a href="@Url.Action(" SubBuku2 ","rumahwasathia ")">
                                                    <i class="fas fa-tasks"></i>Lihat Detail
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover3.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Ushul Fiqh Muamalah</h3>
                                            <div class="download">
                                                <a href="@Url.Action(" SubBuku3 ","rumahwasathia ")">
                                                    <i class="fas fa-tasks"></i>Lihat Detail
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover4.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Fikih Muamalah</h3>
                                            <div class="download">
                                                <a href="@Url.Action(" SubBuku3 ","rumahwasathia ")">
                                                    <i class="fas fa-tasks"></i>Lihat Detail
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
        <!--Third Section Begin-->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-md-10 col-sm-16 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side">Kumpulan Artikel</div>
                    <div class="row text-center">
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Akad Ijarah Mausufah fi Dzimmah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Akad Ijarah Mausufah fi Dzimmah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Akad Musyarakah Mutanaqishah dalam LKS.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Akad Musyarakah Mutanaqishah dalam LKS</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Akad Produk Giro dan Tabungan Wadiah di Perbankan Syariah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Akad Produk Giro dan Tabungan Wadiah di Perbankan Syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Al-Hajah allati Tanzilu manzilata adh-dharurah Dan Penerapannya Dalam Ekonomi Syariah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Al-Hajah allati Tanzilu manzilata adh-dharurah Dan Penerapannya Dalam Ekonomi Syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Bai Inah Tawarruq Fiqhi dan Tawarruq Munazham.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Bai Inah Tawarruq Fiqhi dan Tawarruq Munazham</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Bisnis Multi Level Marketing menurut Regulasi dan Fatwa DSN.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Bisnis Multi Level Marketing menurut Regulasi dan Fatwa DSN</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Dana CSR dan Program Pemberdayaan Masyarakat.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Dana CSR dan Program Pemberdayaan Masyarakat</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Gadai Emas Syariah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Gadai Emas Syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Hadiah Dalam Pengumpulan, Pendayagunaan Dan Pendistribusian Zakat.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Hadiah Dalam Pengumpulan, Pendayagunaan Dan Pendistribusian Zakat</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Hadiah Produk Giro dan Tabungan di Perbankan Syariah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Hadiah Produk Giro dan Tabungan di Perbankan Syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/INSTRUMEN HEDGING  DAN SOLUSINYA MENURUT SYARIAH.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Instrument hedging dan solusinnya menurut syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Instrumen Repo Syariah Menurut Fikih Islam.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Instrumen Repo Syariah Menurut Fikih Islam</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/JIKA ASSET TERDIRI DARI ASSET HALAL DAN ASSET  NON HALAL.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Jika assest terdiri dari asset halal dan asset non halal</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/JKSN dan BPJS Kesehatan Syariah.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>JKSN dan BPJS Kesehatan Syariah</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/Kepemilikan Setoran Jamaah Haji Menurut Syariah Islam.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>Kepemilikan Setoran Jamaah Haji Menurut Syariah Islam</h4>
                            </a>
                        </div>
                        <div class="item topic col-md-4 col-xs-8">
                            <a href="~/rwtheme/file-document/article/KPR Indent Menurut Fikih Islam.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/pdf.png" alt="" />
                                <h4>KPR Indent Menurut Fikih Islam</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-16 right-side-style hidden-xs wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                <div class="main-title-outer pull-left">
                    <div class="main-title right-side">Kajian</div>
                    <ul class="list-unstyled kajian">
                        <li>
                            <a href="#">
                                <div class="row RekamanKajian">
                                    <div class="col-sm-16 pathRekaman">
                                        @*<iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/357475985&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>*@
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="row RekamanKajian">
                                    <div class="col-sm-16 pathRekaman">
                                        @*<iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/224844275&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>*@
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="row RekamanKajian">
                                    <div class="col-sm-16 pathRekaman">
                                        @*<iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/212773651&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>*@
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="row RekamanKajian">
                                    <div class="col-sm-16 pathRekaman">
                                        @*<iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/413160264&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>*@
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="row RekamanKajian">
                                    <div class="col-sm-16 pathRekaman">
                                        @*<iframe scrolling="no" frameborder="0" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/292675007&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>*@
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Third section End-->
    </div>
</div>
<!-- data end -->