@model MvcRWV2.Models.BukuViewModels.DetailsBukuViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Buku</a></li>
                <li><a href="#">Detail</a></li>
                <li class="active">Riba, Gharar &amp; Kaidah Ekonomi Syariah</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side album-desc">Detail Buku</div>
                    <div class="row">
                        <div class="book-detail col-sm-5">
                            <a class="open-popup-link" href="#buy-book" data-effect="mfp-zoom-in">
                                <img class="img-thumbnail" src="@Html.DisplayFor(model => model.BukuModel.Path.Path)" alt="" />
                                <span class="download-icon"><span class="ion-bag"></span>Beli Buku</span>
                            </a>
                        </div>
                        <div class="col-sm-10">
                            <div class="detail">
                                <h2>@Html.DisplayFor(model => model.BukuModel.Judul)h</h2>
                                <table class="table1">
                                    <tr>
                                        <td width="25%">@Html.DisplayNameFor(model => model.BukuModel.PenulisBuku)</td>
                                        <td width="75%">@Html.DisplayFor(model => model.BukuModel.PenulisBuku)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.BukuModel.Terbitan)</td>
                                        <td>@Html.DisplayFor(model => model.BukuModel.Terbitan)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.BukuModel.Tebal)</td>
                                        <td>@Html.DisplayFor(model => model.BukuModel.Tebal)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.BukuModel.ISBN)</td>
                                        <td>@Html.DisplayFor(model => model.BukuModel.ISBN)</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-16">
                            <div class="description">
                                <p>@Html.DisplayFor(model => model.BukuModel.Deskripsi)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="buy-book" class="white-popup mfp-with-anim mfp-hide">
                <div class="row">
                    <div class="col-xs-16">
                        <div class="buying-book">
                            <div class="ion-bag"></div>
                            <p>Untuk Pembelian buku bisa hubungi tim kami melalui kontak berikut:</p>
                            <a href="https://api.whatsapp.com/send?phone=6281285757636&text=Assalamualaikum">Riski | 0812-8575-7636</a>
                            <a href="https://api.whatsapp.com/send?phone=6287885283747&text=Assalamualaikum">Rumahwasathia | 0878-8528-3747</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 hidden-ms right-sec">
                <div class="bordered">
                    <div class="row ">
                        <!-- activities start -->
                        <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="130">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-justified " role="tablist">
                                <li class="active"><a href="#infografis" role="tab" data-toggle="tab">Republika</a></li>
                                <li><a href="#artikel" role="tab" data-toggle="tab">Artikel</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="infografis">
                                    <ul class="list-unstyled kajian">
                                        @foreach (KonsultasiRepublika item in Model.KonsultasiRepublikaModel)
                                        {
                                            <li>

                                            </li>
                                        }
                                    </ul>
                                    <a href="~/KonsultasiRepublika/Index" class="btn btn-info" role="button">Lihat Semua</a>
                                </div>
                                <div class="tab-pane" id="artikel">
                                    <ul class="list-unstyled kajian">
                                        @foreach (Artikel item in Model.ArtikelModel)
                                        {
                                            <li>
                                                <a href="~/pdf/artikel/@{@item.Judul}.pdf" target="_blank">
                                                    <div class="row">
                                                        <div class="col-sm-5"><img class="img-thumbnail pull-left" src="~/uploads/image/general/pdf.png" alt="" /> </div>
                                                        <div class="col-sm-11">
                                                            <h4>@item.DisplayTextJudul</h4>
                                                            <div class="text-danger sub-info">
                                                                <div class="time"><span class="ion-android-data icon"></span>@item.Tanggal</div>
                                                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                    <a href="~/Artikel/Index" class="btn btn-info" role="button">Lihat Semua</a>
                                </div>
                            </div>
                        </div>
                        <!-- activities end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
    </div>
</div>
<!-- data end -->