@model MvcRWV2.Models.Buku

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <h2>@Html.DisplayFor(model => model.Judul)h</h2>
                    <table class="table1">
                        <tr>
                            <td width="25%">@Html.DisplayNameFor(model => model.PenulisBuku)</td>
                            <td width="75%">@Html.DisplayFor(model => model.PenulisBuku)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Terbitan)</td>
                            <td>@Html.DisplayFor(model => model.Terbitan)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Tebal)</td>
                            <td>@Html.DisplayFor(model => model.Tebal)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ISBN)</td>
                            <td>@Html.DisplayFor(model => model.ISBN)</td>
                        </tr>
                    </table>
                    <div class="description">
                        <p>@Html.DisplayFor(model => model.Deskripsi)</p>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col-->
        </div>
        <!-- ./row -->
    </section>
    <!-- /.content -->
</div>