@model MvcRWV2.Models.BukuViewModels.IndexBukuViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","rumahwasathia")">Beranda</a></li>
                <li class="active">Buku</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kollom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side">Kumpulan Buku</div>
                    <div class="row">
                        <div class="col-sm-16 text-center">
                            <p>Urutan Sesuai :</p>
                            <p>
                                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Judul</a>
                            </p>

                            <form asp-action="Index" method="get">
                                <div class="form-actions no-color">
                                    <p>
                                        <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                                        <input type="submit" value="Cari" class="btn btn-default" /> |
                                        <a asp-action="Index">Hapus Pencarian</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                        @foreach (Buku item in Model.BukuModel)
                        {
                            <div class="col-md-4 col-sm-8">
                                <div class="item topic text-center">
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        <img class="img-thumbnail book-cover" src="@item.Path.Path" alt="" />
                                        <h4>@item.DisplayTextJudul</h4>
                                    </a>

                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-sm-16 text-center">
                                @{
                                    var prevDisabled = !Model.BukuModel.HasPreviousPage ? "disabled" : "";
                                    var nextDisabled = !Model.BukuModel.HasNextPage ? "disabled" : "";
                                }
                                <a asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-page="@(Model.BukuModel.PageIndex - 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn btn-default @prevDisabled">
                                    Previous
                                </a>
                                <a asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-page="@(Model.BukuModel.PageIndex + 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn btn-default @nextDisabled">
                                    Next
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right sec start -->
            <div class="col-sm-5 hidden-ms right-sec">
                <div class="bordered">
                    <div class="row ">
                        <!-- activities start -->
                        <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="130">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-justified " role="tablist">
                                <li class="active"><a href="#infografis" role="tab" data-toggle="tab">Republika</a></li>
                                <li><a href="#artikel" role="tab" data-toggle="tab">Artikel</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="infografis">
                                    <ul class="list-unstyled kajian">
                                        @foreach (KonsultasiRepublika item in Model.KonsultasiRepublikaModel)
                                        {
                                            <li>
                                                <a href="~/pdf/artikel/@{@item.Judul}.pdf" target="_blank">
                                                    <div class="row">
                                                        <div class="col-sm-16">
                                                            <h4>@item.DisplayTextJudul</h4>
                                                            <div class="text-danger sub-info">
                                                                <div class="time"><span class="ion-android-data icon"></span>@item.Tanggal</div>
                                                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                    <div class="row">
                                        <a href="~/KonsultasiRepublika/Index" class="btn btn-default btn-sidebar" role="button">Lihat Semua</a>
                                    </div>
                                </div>
                                <div class="tab-pane" id="artikel">
                                    <ul class="list-unstyled kajian">
                                        @foreach (Artikel item in Model.ArtikelModel)
                                        {
                                            <li>
                                                <a href="~/pdf/artikel/@{@item.Judul}.pdf" target="_blank">
                                                    <div class="row">
                                                        <div class="col-sm-5"><img class="img-thumbnail pull-left" src="~/uploads/image/general/pdf.png" alt="" /> </div>
                                                        <div class="col-sm-11">
                                                            <h4>@item.DisplayTextJudul</h4>
                                                            <div class="text-danger sub-info">
                                                                <div class="time"><span class="ion-android-data icon"></span>@item.Tanggal</div>
                                                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                    <div class="row">
                                        <a href="~/Artikel/Index" class="btn btn-default btn-sidebar" role="button">Lihat Semua</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- activities end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
    </div>
</div>
<!-- data end -->