@model PaginatedList<MvcRWV2.Models.KonsultasiEPaper>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Tanya Jawab</a></li>
                <li class="active">Konsultasi Republika</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="row text-center">
                <!-- gallery start -->
                <div class="gallery">
                    <div class="row">
                        <div class="col-sm-16 text-center">
                            <p>Urutan Sesuai :</p>
                            <p>
                                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Judul</a>
                            </p>
                        </div>
                        <div class="col-md-16">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-16">
                                    <a class="gallery-item popup-img" href="~/rwtheme/images/e-paper/@{@item.Judul}">
                                        <div class="thumb-box">
                                            <span class="ion-arrow-expand"></span>
                                            <img width="1600" height="972" alt="" src="~/rwtheme/images/e-paper/@{@item.Judul}" class="img-thumbnail">
                                        </div>
                                        <div class="album-desc">Jual Beli Melalui Market Place</div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-16 text-center">
                            @{
                                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                            }
                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-page="@(Model.PageIndex - 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @prevDisabled">
                                Previous
                            </a>
                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-page="@(Model.PageIndex + 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @nextDisabled">
                                Next
                            </a>
                        </div>
                    </div>
                </div>
                <!-- gallery end -->
            </div>
        </div>
    </div>
</div>
<!-- data end -->