@model MvcRWV2.Models.GaleriViewModels.IndexGaleriViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start galeri.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Galeri</a></li>
                <li class="active">Kegiatan Ust Oni</li>
            </ol>
        </div>
        <!-- breadcrumb end -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-11 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block"> 
                    <div class="main-title left-side">Konsultasi E Paper</div>
                    <div class="row index-content-header">
                        <div class="col-sm-5">
                            <p>Urutkan bedasarkan :</p>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" role="button" class="btn btn-filter">Judul <i class="fa fa-sort"></i></a>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" role="button" class="btn btn-filter">Terbaru</a>
                        </div>
                        <div class="col-sm-11">
                            <form asp-action="Index" method="get">
                                <div class="form-actions no-color pull-right">
                                    <input type="submit" value="Cari" class="btn btn-default" /> |
                                    <a asp-action="Index">Hapus Pencarian</a>
                                    <input class="form-control" type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-16">
                        @foreach (var item in Model.GaleriModel)
                                    {
                                            <a asp-action="Details" asp-route-id="@item.Id">
                                                <div class="thumb-box">
                                                    <img alt="" src="@item.FImage" class="img-thumbnail">
                                                </div>
                                                <div class="album-desc">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </a>
                                    }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-16 text-center">
                            @{
                                var prevDisabled1 = !Model.GaleriModel.HasPreviousPage ? "disabled" : "";
                                var nextDisabled1 = !Model.GaleriModel.HasNextPage ? "disabled" : "";
                            }
                            @if (Model.GaleriModel.TotalPages > 5)
                            {
                                <a asp-action="List"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-page="@(Model.GaleriModel.PageIndex - 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn btn-default @prevDisabled1">
                                    Previous
                                </a>
                            }

                            @for (var i = 1; i <= Model.GaleriModel.TotalPages; i++)
                            {
                                <a asp-route-page="@i">
                                    @if (Model.GaleriModel.PageIndex == @i)
                                    {
                                        <span class="page-number btn btn-default"><strong>@i</strong></span>
                                    }
                                    else
                                    {
                                        <span class="page-number page-number-unselected">@i</span>
                                    }
                                </a>
                            }
                            @if (Model.GaleriModel.TotalPages > 5)
                            {
                                <a asp-action="List"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-page="@(Model.GaleriModel.PageIndex + 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn btn-default @nextDisabled1">
                                    Next
                                </a>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <!-- right sec start -->
            @await Html.PartialAsync("_SideBarLayout")
        </div>
    </div>
</div>
<!-- data end -->   