@model MvcRWV2.Models.rumahwasathiaViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}


<!--data start Index.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- Sesi Pertama (Main Slider) -->
        <div class="col-sm-16 banner-outer">
            <div class="row">
                <div class="col-sm-16 col-md-10 col-lg-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                    <!-- carousel start -->
                    <div id="sync1" class="owl-carousel">
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Perjalanan Dinas yang dipersingkat
                                </div>
                                <img class="img-responsive" src="~/uploads/image/epaper/1. Perjalanan Dinas yang dipersingkat.jpg" width="1600" height="972"
                                     alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Bisnis Reseller
                                </div>
                                <img class="img-responsive" src="~/uploads/image/epaper/2. Bisnis Reseller.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Dropship
                                </div>
                                <img class="img-responsive" src="~/uploads/image/epaper/3. Dropship.jpeg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Bitcoin
                                </div>
                                <img class="img-responsive" src="~/uploads/image/epaper/5. Bitcoin.jpeg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Top Up dan Transfer Saldo Jasa Transportasi Online
                                </div>
                                <img class="img-responsive" src="~/uploads/image/epaper/6. Top Up dan Transfer Saldo Jasa Transportasi Online.jpeg" width="1600"
                                     height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Belanja dengan kartu diskon
                                </div>
                                <img class="img-responsive" src="~/uploads/image/epaper/7. Belanja dengan kartu diskon.jpeg" width="1600" height="972"
                                     alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Bekerja di usaha yg tidak halal
                                </div>
                                <img class="img-responsive" src="~/uploads/image/epaper/8. Bekerja di usaha yg tidak halal.jpg" width="1600" height="972"
                                     alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="@Url.Action(" epaperRepublika ","rumahwasathia ")">
                                <div class="carousel-caption">
                                    Jual beli emas
                                </div>
                                <img class="img-responsive" src="~/uploads/image/epaper/9. jual beli emas.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data">
                                            <span class="ion-paper-airplane"></span>E-Paper
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <span class="ion-android-data"></span>28 April 2014
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div id="sync2" class="owl-carousel">
                            <div class="item">
                                <img class="img-responsive" src="~/uploads/image/epaper/1. Perjalanan Dinas yang dipersingkat.jpg"
                                     width="1600" height="972" alt="" />
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="~/uploads/image/epaper/2. Bisnis Reseller.jpg" width="1600"
                                     height="972" alt="" />
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="~/uploads/image/epaper/3. Dropship.jpeg" width="1600" height="972"
                                     alt="" />
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="~/uploads/image/epaper/5. Bitcoin.jpeg" width="1600" height="972"
                                     alt="" />
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="~/uploads/image/epaper/6. Top Up dan Transfer Saldo Jasa Transportasi Online.jpeg"
                                     width="1600" height="972" alt="" />
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="~/uploads/image/epaper/7. Belanja dengan kartu diskon.jpeg"
                                     width="1600" height="972" alt="" />
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="~/uploads/image/epaper/8. Bekerja di usaha yg tidak halal.jpg"
                                     width="1600" height="972" alt="" />
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="~/uploads/image/epaper/9. jual beli emas.jpg" width="1600"
                                     height="972" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-md-6 col-lg-6 wrap-content wow fadeInRight animated" data-wow-delay="1s" data-wow-offset="50">
                    <div class="absolute-text-item">
                        <div class="relative-block">
                            <div id="vid-first" class="tab-pane embed-responsive embed-responsive-16by9 active">
                                <iframe width="514" height="289" src="https://www.youtube.com/embed/qggLZOQS87U" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <h2>Kupas Tuntas E-Money Menurut Syariah</h2>
                        <div class="module1">
                            <p>
                                Kupas Tuntas E-Money Menurut Syariah
                            </p>
                            <p>
                                Apakah E-Money itu boleh? apakah itu masuk ke konvensional yang mengandung riba? Dan bagaimanakah hukum-hukumnya metode pembayaran
                                modern saat ini? Yuk simak video lengkap ini!
                            </p>
                            <p>
                                Ikuti Kajian Muamalah Ekonomi Syariah OLEH USTADZ DR. ONI SAHRONI, M.A, Pakar Ekonomi Syariah, Ketua Dewan Pengawas Syariah
                                IZI dan BPH Dewan Syariah Nasional MUI
                            </p>
                            Pelajari Lebih Banyak Tentang Ekonomi Syariah Hanya di Mualamah TV. Klik
                            <p>
                                Bayar Zakat secara Mudah Hanya di ZakatPedia. Klik https://zakatpedia.com Terima Kasih Semoga Berkah Like & Subscribe ya
                                :) Presented by: Muamalah TV oleh Inisiatif Zakat Indonesia (IZI) Jl. Raya Condet No 54 D-E
                                Batu Ampar Jakarta Timur Website: www.izi.or.id | FB: Inisiatif Zakat | IG: @@inisiatifzakat
                            </p>
                        </div>
                        <a href="@Url.Action(" ChannelMuamalah ","rumahwasathia ")" class="read-more-yellow">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sesi Pertama (Main Slider) Selesai -->
        <!-- second Section Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side">Galeri</div>
                    <!-- Masonry Begin -->
                    <div class="masonry-wrapper">
                        <div class="masonry-index text-center">
                            @foreach (Galeri item in Model.GaleriModel)
                            {
                            <div class="item">
                                <a class="gallery-item popup-img" href="~/uploads/image/galeri/@{@item.Judul}">
                                    <div class="thumb-box">
                                        <span class="ion-arrow-expand"></span>
                                        <img alt="" src="~/uploads/image/galeri/@{@item.Judul}" class="img-thumbnail">
                                    </div>
                                    <div class="album-desc">
                                        <span>Talaqqi Batch 2 di Wisma Hijau</span>
                                        <!--<span>@item.Tanggal</span>-->
                                    </div>
                                </a>
                            </div>

                            }
                        </div>
                        <a href="~/Galeri/Index" class="btn btn-info" role="button">Lihat Semua</a>
                    </div>
                    <!-- Masonry End -->
                </div>
            </div>
            <div class="col-sm-16 col-md-6 right-side-style wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                <div class="row">
                    <div class="col-sm-16">
                        <div class="main-title-outer">
                            <div class="main-title right-side">Perpustakaan</div>
                            <ul class="list-unstyled kitab">
                                @foreach (Buku item in Model.BukuModel)
                                {
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.Path.Path)" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>@Html.DisplayFor(modelItem => item.DisplayTextJudul)</h3>
                                            <div class="download">
                                                <a href="@Url.Action("Details","Buku",new {id=item.Id })">
                                                    <i class="fas fa-tasks"></i>Lihat Detail
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                }
                                
                            </ul>
                            <a href="~/Buku/Index" class="btn btn-info" role="button">Lihat Semua</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
        <!--Third Section Begin-->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-md-10 col-sm-16 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side">Kumpulan Artikel</div>
                    <div class="row text-center">
                        @foreach (Artikel item in Model.ArtikelModel)
                        {
                            <div class="item topic col-md-4 col-xs-8">
                            <a href="~/pdf/artikel/@{@item.Judul}.pdf" target="_blank">
                                <img class="img-thumbnail icon-effect" src="~/uploads/image/general/pdf.png" alt="" />
                                <h4>@Html.DisplayFor(modelItem => item.DisplayTextJudul)</h4>
                            </a>
                        </div>

                        }
                        
                    </div>
                    <a href="~/Artikel/Index" class="btn btn-info" role="button">Lihat Semua</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-16 right-side-style hidden-xs wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                <div class="main-title-outer pull-left">
                    <div class="main-title right-side">Kajian Audio</div>
                    <ul class="list-unstyled kajian">
                        @foreach (KajianAudio item in Model.KajianAudioModel)
                        {
                            <li>
                                    <a href="#">
                                        <div class="row RekamanKajian">
                                            <div class="col-sm-16 pathRekaman">
                                                <iframe scrolling="no" frameborder="0" allow="autoplay" src="@item.Source"></iframe>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                        }
                            </ul>
                            <a href="~/KajianAudio/Index" class="btn btn-info" role="button">Lihat Semua</a>
                </div>
            </div>
        </div>
        <!--Third section End-->
    </div>
</div>
<!-- data end -->