@model PaginatedList<MvcRWV2.Models.KonsultasiInfografis>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RWLayout.cshtml";
}

<!--data start Artikel.cshtml-->
<div class="container blogging-style">
    <div class="row">
        <!-- breadcrumb start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Konsultasi</a></li>
                <li class="active">Infografis</li>
            </ol>
        </div>
        <!--tes-->
        <!-- breadcrumb end -->
        <!-- Kolom artikel Begin -->
        <div class="col-sm-16 banner-outer gapTop">
            <div class="col-sm-16 col-md-10 wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
                <div class="main-title-outer center-block">
                    <div class="main-title left-side">Infografis</div>
                    <div class="row text-center">
                        <div class="col-sm-16 text-center">
                            <p>Urutan Sesuai :</p>
                            <p>
                                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Judul</a>
                            </p>

                            <form asp-action="Index" method="get">
                                <div class="form-actions no-color">
                                    <p>
                                        Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                                        <input type="submit" value="Search" class="btn btn-default" /> |
                                        <a asp-action="Index">Back to Full List</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row text-center">
                        @foreach (var item in Model)
                        {
                            <div class="item topic col-md-4 col-xs-8">
                                <a href="~/rwtheme/file-document/pdf/@{@item.Judul}.pdf " target="_blank">
                                    <img class="img-thumbnail icon-effect" src="~/rwtheme/images/general/chart.png" alt="" />
                                    <h4>@Html.DisplayFor(modelItem => item.Judul)</h4>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-16 text-center">
                            @{
                                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                            }
                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-page="@(Model.PageIndex - 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @prevDisabled">
                                Previous
                            </a>
                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-page="@(Model.PageIndex + 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @nextDisabled">
                                Next
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-16 col-md-6 right-side-style wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                <div class="row">
                    <div class="col-sm-16">
                        <div class="main-title-outer">
                            <div class="main-title right-side">Perpustakaan</div>
                            <ul class="list-unstyled kitab">
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover1.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Riba, Gharar & Kaidah Ekonomi Syariah</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku1","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4 ">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover2.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Maqashid Bisnis & Keuangan Islam</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku2","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover3.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Ushul Fiqh Muamalah</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku3","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="library-wrapper">
                                                <img class="img-thumbnail" src="~/rwtheme/images/book/cover4.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 book-desc">
                                            <h3>Fikih Muamalah</h3>
                                            <div class="download">
                                                <a href="@Url.Action("SubBuku3","rumahwasathia")"><i class="fas fa-tasks"></i>Lihat Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Section Begin -->
    </div>
</div>
<!-- data end -->