<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RumahWasathia</title>


    @*Template Files*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rumahwasathia</title>
    <link rel="shortcut icon" href="~/rwtheme/images/favicon-wasathia.ico" type="image/x-icon">
    <link rel="icon" href="~/rwtheme/images/favicon-wasathia.ico" type="image/x-icon">
    <!-- bootstrap styles-->
    <link href="~/rwtheme/css/bootstrap.min.css" rel="stylesheet">
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <!-- ionicons font -->
    <link href="~/rwtheme/css/ionicons.min.css" rel="stylesheet">
    <!-- developer custom(Dzaki) styles -->
    <link rel="stylesheet" href="~/rwtheme/css/custom.css" />
    <!-- fontawesome style -->
    <link rel="stylesheet" href="~/rwtheme/fontawesome/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/rwtheme/fontawesome/css/fontawesome.min.css" />
    <!-- custom styles -->
    <link href="~/rwtheme/css/custom-green.css" rel="stylesheet" id="style">
    <!-- owl carousel styles-->
    <link rel="stylesheet" href="~/rwtheme/css/owl.carousel.css">
    <link rel="stylesheet" href="~/rwtheme/css/owl.transitions.css">
    <!-- magnific popup styles -->
    <link rel="stylesheet" href="~/rwtheme/css/magnific-popup.css">
</head>
<body>
    <!-- preloader start -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <!-- preloader end -->
    <!-- sticky header start -->
    <div class="sticky-header">
        <!-- header start -->
        <div class="container header">
            <div class="row header-image">
                <div class="col-sm-7 col-md-6 hidden-sm hidden-xs wow fadeInUpLeft animated text-center"><img src="~/rwtheme/images/general/owner.png" height="300" alt="" id="author" /></div>
                <div class="col-sm-16 col-md-4">
                    <div class="flex-container">
                        <div><a class="open-popup-link" href="#log-in" data-effect="mfp-zoom-in"><i class="far fa-envelope"></i><p>Pertanyaan</p></a></div>
                        <div><a class="open-popup-link" href="#create-account" data-effect="mfp-zoom-in"><i class="far fa-heart"></i><p>Donasi</p></a></div>
                    </div>

                </div>
                <div class="col-sm-16 col-md-6"><img src="~/rwtheme/images/general/logo-02.png" alt="" id="logo" /></div>
            </div>
        </div>
        <!-- header end -->
        <!-- nav and search start -->
        <div class="nav-search-outer">
            <!-- nav start -->
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-16">
                            <a href="" class="toggle-search pull-right"><span class="ion-ios7-search"></span></a>
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                            </div>
                            <div class="collapse navbar-collapse" id="navbar-collapse">
                                <ul class="nav navbar-nav text-uppercase main-nav ">
                                    <li class="link-target active"><a class="anchor" href="@Url.Action("Index","rumahwasathia")">beranda</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="link-target dropdown-toggle" data-toggle="dropdown">Profil<span class="ion-ios7-arrow-down nav-icn"></span></a>
                                        <ul class="dropdown-menu text-capitalize" role="menu">
                                            <li><a class="anchor" href="@Url.Action("biografi","rumahwasathia")"><span class="ion-ios7-arrow-right nav-sub-icn"></span>Ust. Oni</a></li>
                                            <li><a class="anchor" href="@Url.Action("profil","rumahwasathia")"><span class="ion-ios7-arrow-right nav-sub-icn"></span>Rumahwasathia</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="link-target dropdown-toggle" data-toggle="dropdown">Konsultasi<span class="ion-ios7-arrow-down nav-icn"></span></a>
                                        <ul class="dropdown-menu text-capitalize" role="menu">
                                            <li><a class="anchor" href="@Url.Action("republikaOnline","rumahwasathia")"><span class="ion-ios7-arrow-right nav-sub-icn"></span>Republika Online</a></li>
                                            <li><a class="anchor" href="@Url.Action("KonsultasiRepublika","rumahwasathia")"><span class="ion-ios7-arrow-right nav-sub-icn"></span>Konsultasi Republika</a></li>
                                            <li><a class="anchor" href="@Url.Action("ViaMediaSosial","rumahwasathia")"><span class="ion-ios7-arrow-right nav-sub-icn"></span>Via Medsos</a></li>
                                        </ul>
                                    </li>
                                    <li> <a class="link-target anchor" href="@Url.Action("Artikel","rumahwasathia")">artikel</a></li>
                                    <li style="display:none;"><a asp-area="" asp-controller="Artikel" asp-action="Index">Artikel</a></li>
                                    <li> <a class="link-target anchor" href="@Url.Action("Buku","rumahwasathia")">buku</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="link-target dropdown-toggle" data-toggle="dropdown">Kajian<span class="ion-ios7-arrow-down nav-icn"></span></a>
                                        <ul class="dropdown-menu text-capitalize" role="menu">
                                            <li><a class="anchor" href="@Url.Action("Video","rumahwasathia")"><span class="ion-ios7-arrow-right nav-sub-icn"></span>Video</a></li>
                                            <li><a class="anchor" href="@Url.Action("Audio","rumahwasathia")"><span class="ion-ios7-arrow-right nav-sub-icn"></span>Audio</a></li>
                                        </ul>
                                    </li>
                                    <li> <a class="link-target anchor" href="@Url.Action("Galeri","rumahwasathia")">Galeri</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- nav end -->
                <!-- search start -->

                <div class="search-container ">
                    <div class="container">
                        <form action="" role="search">
                            <input id="search-bar" placeholder="Cari disini.." autocomplete="off">
                        </form>
                    </div>
                </div>
                <!-- search end -->
            </nav>
            <!--nav end-->
        </div>
        <!-- nav and search end-->
    </div>
    <!-- sticky header end -->
    <!-- StatusBar (RunningText, MediaSosial dll) -->
    <div class="container blogging-style">
        <div class="row">
            <div class="col-sm-16">
                <div class="row" id="news-row">
                    <div class="col-sm-3 col-md-2 news-title text-center">
                        <h6>Artikel Baru: </h6>
                    </div>
                    <div class="col-sm-9 no-padding col-md-10">
                        <div class="runtext-container">
                            <marquee direction="" onmouseover="this.stop();" onmouseout="this.start();">
                                <div class="holder">
                                    <div class="text-container">
                                        <a href="#">Customers should demand a receipt from all licensed electricians &nbsp; &nbsp; &nbsp; &nbsp;|</a>
                                    </div>

                                    <div class="text-container">
                                        <a href="#">Customers should demand a receipt from all licensed electricians &nbsp; &nbsp; &nbsp; &nbsp;|</a>
                                    </div>

                                    <div class="text-container">
                                        <a href="#">Customers should demand a receipt from all licensed electricians &nbsp; &nbsp; &nbsp; &nbsp;|</a>
                                    </div>

                                    <div class="text-container">
                                        <a href="#">Customers should demand a receipt from all licensed electricians &nbsp; &nbsp; &nbsp; &nbsp;|</a>
                                    </div>

                                    <div class="text-container">
                                        <a href="#">Customers should demand a receipt from all licensed electricians &nbsp; &nbsp; &nbsp; &nbsp;|</a>
                                    </div>

                                    <div class="text-container">
                                        <a href="#">Customers should demand a receipt from all licensed electricians &nbsp; &nbsp; &nbsp; &nbsp;</a>
                                    </div>
                                </div>
                            </marquee>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 icons-media-social text-center">
                        <a href="https://www.facebook.com/onisahronii"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/onisahronii"><i class="fab fa-instagram"></i></a>
                        <a href="https://telegram.me/onisahronii"><i class="fab fa-telegram-plane"></i></a>
                        <a href="https://www.youtube.com/channel/UC_gjUHW-GkS9HzEv1JMRJug"><i class="fab fa-youtube"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- StatusBar (RunningText, MediaSosial dll) Selesai -->
    <div>
        @RenderBody()
    </div>

    <!-- Footer start -->
    <footer>
        <div class="top-sec">
            <div class="container">
                <div class="row match-height-container lineBottom">
                    <div class="col-lg-4 col-sm-16 subscribe-info wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                        <div class="row">
                            <div class="col-sm-16">
                                <div id="responsive-image">
                                    <img src="~/rwtheme/images/general/logo-02.png" alt="placeholder 960" class="img-responsive" />
                                </div>
                            </div>
                            <div class="col-sm-16 text-left add-information">
                                <span>
                                    <i class="fas fa-map"></i>Jl. Masjid Baiturrahman, 001/008, Mekarsari, Cimanggis, Mekarsari, Cimanggis, Kota Depok, Jawa Barat 16542
                                </span>
                            </div>
                            <div class="col-sm-16 text-left add-information">
                                <span>
                                    <i class="fas fa-phone"></i>+62 878-852-837-47
                                </span>
                            </div>
                            <div class="col-sm-16 text-left add-information">
                                <span>
                                    <i class="fas fa-envelope-open"></i>rumahwasathia@yahoo.com
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-md col-lg-1"></div>
                    <div class="col-lg-3 col-sm-10 wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                        <div class="f-title line-footer">Menu</div>
                        <div class="row">
                            <div class="col-md-8 col-sm-8">
                                <ul class="footer-link">
                                    <li><a href="@Url.Action("Index","rumahwasathia")">Beranda</a></li>
                                    <li><a href="@Url.Action("Profil","rumahwasathia")">Profil</a></li>
                                    <li><a href="@Url.Action("Biografi","rumahwasathia")">Biografi</a></li>
                                    <li><a href="@Url.Action("Index","rumahwasathia")">Tanya Jawab</a></li>
                                    <li><a href="@Url.Action("Artikel","rumahwasathia")">Artikel</a></li>
                                </ul>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <ul class="footer-link">
                                    <li><a href="@Url.Action("Buku","rumahwasathia")">Buku</a></li>
                                    <li><a href="@Url.Action("video","rumahwasathia")">Kajian</a></li>
                                    <li><a href="@Url.Action("galeri","rumahwasathia")">Galeri</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                        <div class="f-title line-footer">Situs Terpercaya</div>
                        <ul class="footer-link">
                            <li><a href="http://republika.co.id/">Republika.co.id</a></li>

                        </ul>
                    </div>
                    <div class="col-lg-5 col-sm-16 wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
                        <div class="f-title line-footer">Biografi</div>
                        <div id="bio-footer">
                            <div class="module4">
                                <p>Rumahwasathia hadir sebagai solusi dari banyaknya pertanyaan masyarakat seputar persoalan kehidupan sehari-hari menurut aspek Syari’ah Islam, yang dimana pada realita sekarang ini, sangat minim referensi Islam yang genuine dan bernash. Selain itu, rumahwasathia meyakini perkembangan pendidikan yang semakin berkualitas dalam mencetak Sumber Daya Manusia ahli Fiqih, yang nantinya akan fokus dalam mengelola tugas ini.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btm-sec">
            <div class="container">
                <div class="row">
                    <div class="col-sm-16">
                        <div class="row">
                            <div class="col-sm-16 col-xs-16 copyrights text-center wow fadeInDown animated" data-wow-delay="0.5s" data-wow-offset="10">&copy; 2018 CITRON STUDIO - ALL RIGHTS RESERVED</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->
    <div id="create-account" class="white-popup mfp-with-anim mfp-hide">
        <div id="donasi-wrapper">
            <h2>Donasi</h2>
            <div class="row">
                <div class="col-xs-16">
                    <table class="table2">
                        <tr>
                            <th>Bank</th>
                            <th>no rekening</th>
                        </tr>
                        <tr>
                            <td>BNI Syariah</td>
                            <td>8900900567</td>
                        </tr>
                        <tr>
                            <td>Bank Muamalat</td>
                            <td>3070033823</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-16">
                    <div id="note">
                        <span><b>Note:</b></span>
                        <p>a.n Yayasan Rumah Wasathia</p>
                        <p>Untuk informasi lebih lanjut, silahkan hubungi admin kami.</p>
                        <a href="https://api.whatsapp.com/send?phone=6287885283747&text=Assalamualaikum">Rumah Wasathia | +62 878-852-837-47</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="log-in" class="white-popup mfp-with-anim mfp-hide">
        <div class="row">
            <div class="col-xs-16">
                <div class="pertanyaan-wrapper">
                    <i class="fab fa-whatsapp"></i>
                    <p>Untuk pertanyaan bisa melaui WhatsApp dengan tautan berikut</p>
                    <a href="https://api.whatsapp.com/send?phone=6287885283747&text=Assalamualaikum">Rumah Wasathia</a>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/rwtheme/js/jquery.min.js"></script>
    <!--jQuery easing-->
    <script src="~/rwtheme/js/jquery.easing.1.3.js"></script>
    <!-- bootstrab js -->
    <script src="~/rwtheme/js/bootstrap.js"></script>
    <!--style switcher-->
    <script src="~/rwtheme/js/style-switcher.js"></script>
    <!--wow animation-->
    <script src="~/rwtheme/js/wow.min.js"></script>
    <!-- time and date -->
    <script src="~/rwtheme/js/moment.min.js"></script>
    <!--news ticker-->
    <script src="~/rwtheme/js/jquery.ticker.js"></script>
    <!-- owl carousel -->
    <script src="~/rwtheme/js/owl.carousel.js"></script>
    <!-- magnific popup -->
    <script src="~/rwtheme/js/jquery.magnific-popup.js"></script>
    <!-- calendar-->
    <script src="~/rwtheme/js/jquery.pickmeup.js"></script>
    <!-- go to top -->
    <script src="~/rwtheme/js/jquery.scrollUp.js"></script>
    <!-- scroll bar -->
    <script src="~/rwtheme/js/jquery.nicescroll.js"></script>
    <script src="~/rwtheme/js/jquery.nicescroll.plus.js"></script>
    <!--masonry-->
    <script src="~/rwtheme/js/masonry.pkgd.js"></script>
    <!--media queries to js-->
    <script src="~/rwtheme/js/enquire.js"></script>
    <!--custom functions-->
    <script src="~/rwtheme/js/custom-fun.js"></script>
    <!--custom Dzaki-->
    <script src="~/rwtheme/js/custom.js"></script>
    <!--Instagram Feeds-->
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
    <script>
        $('.pagination-outer .pagination a').on('click', function () {
            $('.pagination-outer .pagination').find('li.active').removeClass('active');
            $(this).parent('li').addClass('active');
        });
    </script>
    @*<script>
        $(".link-target").click(function () {
            if (!$(this).hasClass("active")) {

                $(".link-target.active").removeClass("active");
                $(this).addClass("active");
            }
        });
    </script>*@
</body>
</html>
